{
    "files": [
        "tests/parse_flags.c",
        "arraylist.c",
        "json_c_version.c",
        "json_object_iterator.c",
        "json_object.c",
        "json_pointer.c",
        "json_tokener.c",
        "json_util.c",
        "json_visit.c",
        "linkhash.c",
        "printbuf.c",
        "strerror_override.c"
    ],
    "compilation_cmd": " -I . -I trustinsoft/build -I tests",
    "safe-arrays": false,
    "val-int-for-pointer-equality": "1,2"
}
