[
    {
        "name": "test1",
        "compilation_database": [
            "tis/build"
        ],
        "compilation_cmd": " -UTEST_FORMATTED",
        "files": [
            "tests/test1.c",
            "json_object.c",
            "printbuf.c",
            "arraylist.c",
            "linkhash.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "test1Formatted_plain",
        "compilation_database": [
            "tis/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test1.c",
            "tests/parse_flags.c",
            "json_object.c",
            "printbuf.c",
            "arraylist.c",
            "linkhash.c"
        ],
        "val-args": " plain",
        "safe-arrays": false
    },
    {
        "name": "test1Formatted_pretty",
        "compilation_database": [
            "tis/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test1.c",
            "tests/parse_flags.c",
            "json_object.c",
            "printbuf.c",
            "arraylist.c",
            "linkhash.c"
        ],
        "val-args": " pretty",
        "safe-arrays": false
    },
    {
        "name": "test1Formatted_spaced",
        "compilation_database": [
            "tis/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test1.c",
            "tests/parse_flags.c",
            "json_object.c",
            "printbuf.c",
            "arraylist.c",
            "linkhash.c"
        ],
        "val-args": " spaced",
        "safe-arrays": false
    },
    {
        "name": "test1Formatted_spaced_pretty",
        "compilation_database": [
            "tis/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test1.c",
            "tests/parse_flags.c",
            "json_object.c",
            "printbuf.c",
            "arraylist.c",
            "linkhash.c"
        ],
        "val-args": " spaced pretty",
        "safe-arrays": false
    },
    {
        "name": "test1Formatted_spaced_pretty_pretty_tab",
        "compilation_database": [
            "tis/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test1.c",
            "tests/parse_flags.c",
            "json_object.c",
            "printbuf.c",
            "arraylist.c",
            "linkhash.c"
        ],
        "val-args": " spaced pretty pretty_tab",
        "safe-arrays": false
    },
    {
        "name": "test2",
        "compilation_database": [
            "tis/build"
        ],
        "compilation_cmd": " -UTEST_FORMATTED",
        "files": [
            "tests/test2.c",
            "json_tokener.c",
            "printbuf.c",
            "json_object.c",
            "linkhash.c",
            "arraylist.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "test2Formatted_plain",
        "compilation_database": [
            "tis/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test2.c",
            "tests/parse_flags.c",
            "json_tokener.c",
            "printbuf.c",
            "json_object.c",
            "linkhash.c",
            "arraylist.c"
        ],
        "val-args": " plain",
        "safe-arrays": false
    },
    {
        "name": "test2Formatted_pretty",
        "compilation_database": [
            "tis/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test2.c",
            "tests/parse_flags.c",
            "json_tokener.c",
            "printbuf.c",
            "json_object.c",
            "linkhash.c",
            "arraylist.c"
        ],
        "val-args": " pretty",
        "safe-arrays": false
    },
    {
        "name": "test2Formatted_spaced",
        "compilation_database": [
            "tis/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test2.c",
            "tests/parse_flags.c",
            "json_tokener.c",
            "printbuf.c",
            "json_object.c",
            "linkhash.c",
            "arraylist.c"
        ],
        "val-args": " spaced",
        "safe-arrays": false
    },
    {
        "name": "test2Formatted_spaced_pretty",
        "compilation_database": [
            "tis/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test2.c",
            "tests/parse_flags.c",
            "json_tokener.c",
            "printbuf.c",
            "json_object.c",
            "linkhash.c",
            "arraylist.c"
        ],
        "val-args": " spaced pretty",
        "safe-arrays": false
    },
    {
        "name": "test2Formatted_spaced_pretty_pretty_tab",
        "compilation_database": [
            "tis/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test2.c",
            "tests/parse_flags.c",
            "json_tokener.c",
            "printbuf.c",
            "json_object.c",
            "linkhash.c",
            "arraylist.c"
        ],
        "val-args": " spaced pretty pretty_tab",
        "safe-arrays": false
    },
    {
        "name": "test4",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test4.c",
            "json_tokener.c",
            "printbuf.c",
            "json_object.c",
            "linkhash.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "test_cast",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_cast.c",
            "json_tokener.c",
            "printbuf.c",
            "json_object.c",
            "linkhash.c",
            "json_util.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "test_charcase",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_charcase.c",
            "json_tokener.c",
            "printbuf.c",
            "json_object.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "test_compare",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_compare.c",
            "json_object.c",
            "printbuf.c",
            "arraylist.c",
            "linkhash.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "test_deep_copy",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_deep_copy.c",
            "json_tokener.c",
            "printbuf.c",
            "json_object.c",
            "linkhash.c",
            "json_util.c",
            "arraylist.c"
        ],
        "val-printf-singleton-pointers": true,
        "safe-arrays": false
    },
    {
        "name": "test_double_serializer",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_double_serializer.c",
            "json_object.c",
            "printbuf.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "test_float",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_float.c",
            "json_object.c",
            "printbuf.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "test_int_add",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_int_add.c",
            "json_object.c",
            "printbuf.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "test_json_pointer",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_json_pointer.c",
            "json_tokener.c",
            "printbuf.c",
            "json_object.c",
            "linkhash.c",
            "arraylist.c",
            "json_util.c",
            "json_pointer.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "test_locale",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_locale.c",
            "json_tokener.c",
            "printbuf.c",
            "json_object.c",
            "arraylist.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "test_null",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_null.c",
            "json_object.c",
            "printbuf.c",
            "json_tokener.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "test_object_iterator",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_object_iterator.c",
            "json_object_iterator.c",
            "json_tokener.c",
            "printbuf.c",
            "json_object.c",
            "linkhash.c",
            "json_util.c"
        ],
        "val-args": " .",
        "safe-arrays": false
    },
    {
        "name": "test_parse",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_parse.c",
            "json_tokener.c",
            "printbuf.c",
            "json_object.c",
            "arraylist.c",
            "json_util.c",
            "linkhash.c",
            "json_visit.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "test_parse_int64",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_parse_int64.c",
            "json_util.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "test_printbuf",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_printbuf.c",
            "printbuf.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "testReplaceExisting",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/testReplaceExisting.c",
            "json_object.c",
            "linkhash.c",
            "printbuf.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "test_set_serializer",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_set_serializer.c",
            "json_object.c",
            "linkhash.c",
            "printbuf.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "test_set_value",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_set_value.c",
            "json_object.c",
            "printbuf.c",
            "json_tokener.c"
        ],
        "safe-arrays": false
    },
    {
        "name": "test_util_file",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_util_file.c",
            "json_c_version.c",
            "json_util.c",
            "printbuf.c",
            "json_tokener.c",
            "json_object.c",
            "linkhash.c",
            "strerror_override.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "tests/valid.json",
                    "name": "./valid.json"
                },
                {
                    "from": "tests/valid_nested.json",
                    "name": "./valid_nested.json"
                },
                {
                    "name": "/dev/null"
                }
            ]
        },
        "val-args": " .",
        "safe-arrays": false
    },
    {
        "name": "test_visit",
        "compilation_database": [
            "tis/build"
        ],
        "files": [
            "tests/test_visit.c",
            "json_tokener.c",
            "printbuf.c",
            "json_object.c",
            "linkhash.c",
            "json_util.c",
            "arraylist.c",
            "json_visit.c"
        ],
        "safe-arrays": false
    },
    {
      "name": "test_fuzz #24: input 0-10058b8cd9.json",
      "compilation_database": [
        "tis/build"
      ],
      "compilation_cmd": " -I . -I tis/build",
      "files": [
        "tis/test_fuzz.c",
        "json_c_version.c",
        "json_util.c",
        "printbuf.c",
        "json_tokener.c",
        "json_object.c",
        "linkhash.c",
        "strerror_override.c",
        "arraylist.c",
        "json_object_iterator.c",
        "json_visit.c",
        "json_pointer.c"
      ],
      "filesystem": {
        "files": [
          {
            "from": "tis/fuzz_inputs/0-10058b8cd9.json",
            "name": "./test.json"
          }
        ]
      },
      "val-args": " ./test.json",
      "safe-arrays": false
    },
    {
      "name": "test_fuzz #91: input 0-4735d351ed.json",
      "compilation_database": [
        "tis/build"
      ],
      "compilation_cmd": " -I . -I tis/build",
      "files": [
        "tis/test_fuzz.c",
        "json_c_version.c",
        "json_util.c",
        "printbuf.c",
        "json_tokener.c",
        "json_object.c",
        "linkhash.c",
        "strerror_override.c",
        "arraylist.c",
        "json_object_iterator.c",
        "json_visit.c",
        "json_pointer.c"
      ],
      "filesystem": {
        "files": [
          {
            "from": "tis/fuzz_inputs/0-4735d351ed.json",
            "name": "./test.json"
          }
        ]
      },
      "val-args": " ./test.json",
      "safe-arrays": false
    },
    {
      "name": "test_fuzz #129: input 0-638577393e.json",
      "compilation_database": [
        "tis/build"
      ],
      "compilation_cmd": " -I . -I tis/build",
      "files": [
        "tis/test_fuzz.c",
        "json_c_version.c",
        "json_util.c",
        "printbuf.c",
        "json_tokener.c",
        "json_object.c",
        "linkhash.c",
        "strerror_override.c",
        "arraylist.c",
        "json_object_iterator.c",
        "json_visit.c",
        "json_pointer.c"
      ],
      "filesystem": {
        "files": [
          {
            "from": "tis/fuzz_inputs/0-638577393e.json",
            "name": "./test.json"
          }
        ]
      },
      "val-args": " ./test.json",
      "safe-arrays": false
    },
    {
      "name": "test_fuzz #411: input 1-8e3702d59d.json",
      "compilation_database": [
        "tis/build"
      ],
      "compilation_cmd": " -I . -I tis/build",
      "files": [
        "tis/test_fuzz.c",
        "json_c_version.c",
        "json_util.c",
        "printbuf.c",
        "json_tokener.c",
        "json_object.c",
        "linkhash.c",
        "strerror_override.c",
        "arraylist.c",
        "json_object_iterator.c",
        "json_visit.c",
        "json_pointer.c"
      ],
      "filesystem": {
        "files": [
          {
            "from": "tis/fuzz_inputs/1-8e3702d59d.json",
            "name": "./test.json"
          }
        ]
      },
      "val-args": " ./test.json",
      "safe-arrays": false
    },
    {
      "name": "test_fuzz #459: input 1-fb0eb4ff8c.json",
      "compilation_database": [
        "tis/build"
      ],
      "compilation_cmd": " -I . -I tis/build",
      "files": [
        "tis/test_fuzz.c",
        "json_c_version.c",
        "json_util.c",
        "printbuf.c",
        "json_tokener.c",
        "json_object.c",
        "linkhash.c",
        "strerror_override.c",
        "arraylist.c",
        "json_object_iterator.c",
        "json_visit.c",
        "json_pointer.c"
      ],
      "filesystem": {
        "files": [
          {
            "from": "tis/fuzz_inputs/1-fb0eb4ff8c.json",
            "name": "./test.json"
          }
        ]
      },
      "val-args": " ./test.json",
      "safe-arrays": false
    }
]
