[
    {
        "name": "test1",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "compilation_cmd": " -UTEST_FORMATTED",
        "files": [
            "tests/test1.c"
        ]
    },
    {
        "name": "test1Formatted_plain",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test1.c"
        ],
        "val-args": " plain"
    },
    {
        "name": "test1Formatted_pretty",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test1.c"
        ],
        "val-args": " pretty"
    },
    {
        "name": "test1Formatted_spaced",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test1.c"
        ],
        "val-args": " spaced"
    },
    {
        "name": "test1Formatted_spaced_pretty",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test1.c"
        ],
        "val-args": " spaced pretty"
    },
    {
        "name": "test1Formatted_spaced_pretty_pretty_tab",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test1.c"
        ],
        "val-args": " spaced pretty pretty_tab"
    },
    {
        "name": "test2",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "compilation_cmd": " -UTEST_FORMATTED",
        "files": [
            "tests/test2.c"
        ]
    },
    {
        "name": "test2Formatted_plain",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test2.c"
        ],
        "val-args": " plain"
    },
    {
        "name": "test2Formatted_pretty",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test2.c"
        ],
        "val-args": " pretty"
    },
    {
        "name": "test2Formatted_spaced",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test2.c",
            "json_tokener.c",
            "printbuf.c",
            "json_object.c",
            "linkhash.c",
            "arraylist.c"
        ],
        "val-args": " spaced"
    },
    {
        "name": "test2Formatted_spaced_pretty",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test2.c"
        ],
        "val-args": " spaced pretty"
    },
    {
        "name": "test2Formatted_spaced_pretty_pretty_tab",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "compilation_cmd": " -DTEST_FORMATTED",
        "files": [
            "tests/test2.c"
        ],
        "val-args": " spaced pretty pretty_tab"
    },
    {
        "name": "test4",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test4.c"
        ]
    },
    {
        "name": "test_cast",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_cast.c"
        ]
    },
    {
        "name": "test_charcase",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_charcase.c"
        ]
    },
    {
        "name": "test_compare",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_compare.c"
        ]
    },
    {
        "name": "test_deep_copy",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_deep_copy.c"
        ],
        "val-printf-singleton-pointers": true
    },
    {
        "name": "test_double_serializer",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_double_serializer.c"
        ]
    },
    {
        "name": "test_float",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_float.c"
        ]
    },
    {
        "name": "test_int_add",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_int_add.c",
            "json_object.c",
            "printbuf.c"
        ]
    },
    {
        "name": "test_json_pointer",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_json_pointer.c"
        ]
    },
    {
        "name": "test_locale",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_locale.c"
        ]
    },
    {
        "name": "test_null",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_null.c"
        ]
    },
    {
        "name": "test_object_iterator",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_object_iterator.c"
        ],
        "val-args": " ."
    },
    {
        "name": "test_parse",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_parse.c"
        ]
    },
    {
        "name": "test_parse_int64",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_parse_int64.c"
        ]
    },
    {
        "name": "test_printbuf",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_printbuf.c",
            "printbuf.c"
        ]
    },
    {
        "name": "testReplaceExisting",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/testReplaceExisting.c"
        ]
    },
    {
        "name": "test_set_serializer",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_set_serializer.c"
        ]
    },
    {
        "name": "test_set_value",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_set_value.c"
        ]
    },
    {
        "name": "test_util_file",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_util_file.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "tests/valid.json",
                    "name": "./valid.json"
                },
                {
                    "from": "tests/valid_nested.json",
                    "name": "./valid_nested.json"
                },
                {
                    "name": "/dev/null"
                }
            ]
        },
        "val-args": " ."
    },
    {
        "name": "test_visit",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "files": [
            "tests/test_visit.c"
        ]
    },
    {
        "name": "test_fuzz #24: input 0-10058b8cd9.json",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "compilation_cmd": " -I . -I trustinsoft/build",
        "files": [
            "trustinsoft/test_fuzz.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "trustinsoft/fuzz_inputs/0-10058b8cd9.json",
                    "name": "./test.json"
                }
            ]
        },
        "val-args": " ./test.json"
    },
    {
        "name": "test_fuzz #91: input 0-4735d351ed.json",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "compilation_cmd": " -I . -I trustinsoft/build",
        "files": [
            "trustinsoft/test_fuzz.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "trustinsoft/fuzz_inputs/0-4735d351ed.json",
                    "name": "./test.json"
                }
            ]
        },
        "val-args": " ./test.json"
    },
    {
        "name": "test_fuzz #129: input 0-638577393e.json",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "compilation_cmd": " -I . -I trustinsoft/build",
        "files": [
            "trustinsoft/test_fuzz.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "trustinsoft/fuzz_inputs/0-638577393e.json",
                    "name": "./test.json"
                }
            ]
        },
        "val-args": " ./test.json"
    },
    {
        "name": "test_fuzz #411: input 1-8e3702d59d.json",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "compilation_cmd": " -I . -I trustinsoft/build",
        "files": [
            "trustinsoft/test_fuzz.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "trustinsoft/fuzz_inputs/1-8e3702d59d.json",
                    "name": "./test.json"
                }
            ]
        },
        "val-args": " ./test.json"
    },
    {
        "name": "test_fuzz #459: input 1-fb0eb4ff8c.json",
        "include": "common.config",
        "compilation_database": [
            "trustinsoft/build"
        ],
        "compilation_cmd": " -I . -I trustinsoft/build",
        "files": [
            "trustinsoft/test_fuzz.c"
        ],
        "filesystem": {
            "files": [
                {
                    "from": "trustinsoft/fuzz_inputs/1-fb0eb4ff8c.json",
                    "name": "./test.json"
                }
            ]
        },
        "val-args": " ./test.json"
    }
]
